.card {
  padding: 10px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  /* border: 1px solid #ccc;  */
}
.card .name {
  margin-left: 0 10px;
  margin-right: 14px;
  font-weight: bold;
}
.card .customsize {
  font-size: 11px;
  color: #686b78;
  font-weight: 500;
  margin-top: 2px;
  position: relative;
  display: block;
  padding: 0;
}

.quantity {
  width: 83px;
  border: 1px solid #d4d5d9;
  color: var(--main);
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 30px;
  position: relative;
  text-align: center;
  background-color: #fff;
}
.card .amount {
  min-width: 80px;
  text-align: right;
  font-size: 15px;
}

.remove_btn {
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
}
